<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/output.css" rel="stylesheet">
  <html data-theme="autumn"></html>
</head>

<body>
  {% include "components/navbar.html" %}
  <!--cards-->
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 px-4 py-4">
    <div class="bg-gray-300 rounded-xl">
      <div class="card-body items-center text-center p-4">
        <h2 class="card-title">Cookies!</h2>
        <p>We are using cookies for no reason.</p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">Accept</button>
          <button class="btn btn-ghost">Deny</button>
        </div>
      </div>
    </div>
    <div class="bg-gray-300 rounded-xl">
      <div class="card-body items-center text-center p-4">
        <h2 class="card-title">Cookies!</h2>
        <p>We are using cookies for no reason.</p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">Accept</button>
          <button class="btn btn-ghost">Deny</button>
        </div>
      </div>
    </div>
    {{cards|safe}}

    <div class="bg-gray-300 rounded-xl">
    </div>
    <div class="bg-gray-300 rounded-xl"></div>
    <div class="bg-gray-300 rounded-xl"></div>
    <div class="bg-gray-300 rounded-xl"></div>
    <div class="bg-gray-300 rounded-xl"></div>
  </div>
</body>

</html>
